@model ForbExpress.Models.Contract

@{
    ViewData["PageTitle"] = "Добавление договора";
    Layout = "_Layout";
    
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-step/jquery.steps.css">
    <style>
            #formValidate .wizard > .content {min-height: 25em;}
            #example-vertical.wizard > .content {min-height: 24.5em;}
    </style>
    <link rel="stylesheet" href="~/plugins/font-icons/fontawesome/css/regular.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
    <link rel="stylesheet" href="~/plugins/font-icons/fontawesome/css/fontawesome.css">
    <link href="~/plugins/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/switches.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-select/bootstrap-select.min.css">
}

@section Scripts
{
    <script src="~/plugins/jquery-step/jquery.steps.min.js"></script>
    <script src="~/plugins/jquery-step/custom-jquery.steps.js"></script>
    <script src="~/plugins/font-icons/feather/feather.min.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.bundle.min.js"></script>
    <script src="~/plugins/input-mask/input-mask.js"></script>
     <script src="~/plugins/flatpickr/flatpickr.js"></script>
    <script src="~/plugins/flatpickr/custom-flatpickr.js"></script>
    <script src="~/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/select2/custom-select2.js"></script>
    <script src="~/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        feather.replace();        
        $("#leaseEndDate").inputmask("99/99/9999");
        $("#email").inputmask(
            {
                mask:"*{1,20}[.*{1,20}][.*{1,20}][.*{1,20}]@@*{1,20}[.*{2,6}][.*{1,2}]",
                greedy:!1,onBeforePaste:function(m,a){return(m=m.toLowerCase()).replace("mailto:","")},
                definitions:{"*":
                    {
                        validator:"[0-9A-Za-z!#$%&'*+/=?^_`{|}~-]",
                        cardinality:1,
                        casing:"lower"
                    }
                }
            }
        )                        
        $("#ph-number").inputmask({mask:"(999) 999-9999"});        
        $(".placeholder").select2({
            placeholder: "Make a Selection",
            allowClear: true
        });
    </script>
   
}

<div class="statbox widget box box-shadow">
<div class="widget-header">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
            <h4>Добавление договора</h4>
        </div>
    </div>
</div>
<div class="widget-content widget-content-area">
<form asp-action="AddContract" method="post">
<input type="hidden" asp-for="Id" value="@Model?.Id">
<div id="circle-basic" class="">
<h3>Арендатор</h3>
<section>

    <h3>Арендатор</h3>

    <div class="form-row">
        <div class="form-group col-md-7">
            <label asp-for="Lessee.Name"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="user"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Name" class="form-control border-left-0" placeholder="Полное название" value="@Model?.Lessee?.Name">
            </div>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Lessee.ShortName"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.ShortName" class="form-control border-left-0" placeholder="Короткое название" value="@Model?.Lessee?.ShortName">
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Lessee.Email"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input type="text" asp-for="Lessee.Email" class="form-control border-left-0" id="email" placeholder="Email" value="@Model?.Lessee?.Email">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Lessee.Phone"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Phone" class="form-control border-left-0" id="ph-number" placeholder="Телефон">
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Lessee.AdditionalContacts"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.AdditionalContacts" class="form-control border-left-0" placeholder="Дополнительные контакты" value="@Model?.Lessee?.AdditionalContacts">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Lessee.ContactName"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.ContactName" class="form-control border-left-0" placeholder="Контактное лицо" value="@Model?.Lessee?.ContactName">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Lessee.ContactNamePosition"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.ContactNamePosition" class="form-control border-left-0" placeholder="Должность контактного лица" value="@Model?.Lessee?.ContactNamePosition">
            </div>
        </div>

    </div>
    <hr/>
    <h4>Реквизиты арендатора</h4>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Lessee.Bank"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Bank" class="form-control border-left-0" placeholder="Банк" value="@Model?.Lessee?.Bank">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Lessee.Inn"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Inn" class="form-control border-left-0" placeholder="ИНН" value="@Model?.Lessee?.Inn">
            </div>
        </div>


        <div class="form-group col-md-4">
            <label asp-for="Lessee.Bic"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Bic" class="form-control border-left-0" placeholder="БИК" value="@Model?.Lessee?.Bic">
            </div>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Lessee.Kpp"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Kpp" class="form-control border-left-0" placeholder="КПП" value="@Model?.Lessee?.Kpp">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Lessee.CheckingAccount"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.CheckingAccount" class="form-control border-left-0" placeholder="Расчетный счет" value="@Model?.Lessee?.CheckingAccount">
            </div>
        </div>


        <div class="form-group col-md-4">
            <label asp-for="Lessee.Ogrn"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="activity"></i>
                    </span>
                </div>
                <input asp-for="Lessee.Ogrn" class="form-control border-left-0" placeholder="ОГРН" value="@Model?.Lessee?.Ogrn">
            </div>
        </div>
    </div>

</section>

<h3>Договор аренды</h3>
<section>
    <h3>Аренда</h3>
    <div class="form-row">
        <div class="form-group col-md-10">
            <label asp-for="Address"></label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i data-feather="calendar"></i></span></div>
                <select class="placeholder js-states form-control">
                    <option>Выберите адрес</option>
                    <option value="one">First</option>
                    <option value="two">Second</option>
                    <option value="three">Third</option>
                    <option value="four">Fourth</option>
                    <option value="five">Fifth</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Ifts"></label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i data-feather="calendar"></i></span></div>
                <input asp-for="Ifts" class="form-control" placeholder="ИФНС #..." readonly value="@Model?.Ifts">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10">
            <label asp-for="ConclusionDate"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="calendar"></i>
                    </span>
                </div>
                <input id="conclusionDate" value="@DateTime.Now.ToShortDateString()" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Select Date..">
            </div>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="LeaseTerm"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i data-feather="calendar"></i></span>
                </div>
                <input type="text" placeholder="Срок в месяцах" class="form-control" value="@Model?.LeaseTerm">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="LeaseStartDate"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="calendar"></i>
                    </span>
                </div>
                <input id="lesseeBeginDate" value="@DateTime.Now.ToShortDateString()" class="form-control flatpickr flatpickr-input active" type="text" placeholder="Select Date..">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LeaseEndDate"></label>
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i data-feather="calendar"></i></span></div>
                <input id="leaseEndDate" type="text" placeholder="" class="form-control" readonly value="@Model?.LeaseEndDate">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="Price1"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">₽</span>
                    <span class="input-group-text">0.00</span>
                </div>
                <input asp-for="Price1" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Стартовая цена (руб.)" value="@Model?.Price1">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Price2"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">₽</span>
                    <span class="input-group-text">0.00</span>
                </div>
                <input asp-for="Price2" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Перекупочная цена (руб.)" value="@Model?.Price2">
            </div>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="Penalty"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">₽</span>
                    <span class="input-group-text">0.00</span>
                </div>
                <input asp-for="Penalty" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Штраф (руб.)" value="@Model?.Penalty">
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="RegistrationType"></label>
            <select class="form-control basic">
                <option value="one">Новый</option>
                <option value="two">Изменение</option>
                <option value="three">Пролонгация</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="PaymentForm"></label>
            <select class="form-control basic">
                <option>Форма оплаты...</option>
                <option value="one">Наличные/Безналичные</option>
                <option value="two">Наличные</option>
                <option value="three">Безналичные</option> 
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1 mb-4">
            <div class="n-chk">
                <label class="new-control new-checkbox checkbox-outline-info new-checkbox-text">
                    <input asp-for="Paid" class="new-control-input">
                    <span class="new-control-indicator"></span><span class="new-chk-content" value="@Model?.Paid">Оплата</span>
                </label>
            </div>
        </div>

        <div class="form-group col-md-2 mb-4">
            <div class="n-chk">
                <label class="new-control new-checkbox checkbox-outline-info new-checkbox-text">
                    <input asp-for="DocumentsStorage" class="new-control-input" value="@Model?.Paid">
                    <span class="new-control-indicator"></span><span class="new-chk-content">Хранение документов</span>
                </label>
            </div>
        </div>

        <div class="form-group col-md-2 mb-4">
            <div class="n-chk">
                <label class="new-control new-checkbox checkbox-outline-info new-checkbox-text">
                    <input asp-for="IsReturnableCopy" class="new-control-input" value="@Model?.IsReturnableCopy">
                    <span class="new-control-indicator"></span><span class="new-chk-content">Возвратный экземпляр</span>
                </label>
            </div>
        </div>

        <div class="form-group col-md-2 mb-4">
            <label class="new-control new-checkbox checkbox-outline-info new-checkbox-text">
                <input asp-for="MonthlyActs" class="new-control-input" value="@Model?.MonthlyActs">
                <span class="new-control-indicator"></span><span class="new-chk-content">Ежемесячные акты</span>
            </label>
        </div>

        <div class="form-group col-md-1 mb-4">
            <label class="new-control new-checkbox checkbox-outline-info new-checkbox-text">
                <input asp-for="Receipt" class="new-control-input" value="@Model?.Receipt">
                <span class="new-control-indicator"></span><span class="new-chk-content">Чек</span>
            </label>
        </div>
    </div>
</section>


<h3>Партнер (опционально)</h3>
<section>
    <h3>Партнер</h3>
    <div class="row">
        @* <div class="col-md-1"> *@
        @*     <label class="switch s-success  mb-4 mr-2"> *@
        @*         <input type="checkbox" checked="" style="display:none;"> *@
        @*         <span class="slider round"></span> *@
        @*     </label> *@
        @* </div> *@
        <div class="col-md-12">
            <select class="placeholder js-states form-control">
                <option>Выбрать партнера...(опционально)</option>
                <option value="one">Добавить нового партнера</option>
                <option value="one">First Partner</option>
                <option value="two">Second Partner</option>
                <option value="three">Third Partner</option>
                <option value="four">Fourth Partner</option>
                <option value="five">Fifth Partner</option>
            </select>
        </div>
        
        @* <div class="col-md-2">Задать партнера</div> *@
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Partner.Name"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="user"></i>
                    </span>
                </div>
                <input asp-for="Partner.Name" class="form-control border-left-0" placeholder="Имя партнера" value="@Model?.Partner?.Name">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Partner.Phone"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="phone"></i>
                    </span>
                </div>
                <input asp-for="Partner.Phone" class="form-control border-left-0" placeholder="Телефон партнера" id="ph-number" value="@Model?.Partner?.Phone">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Partner.Email"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="mail"></i>
                    </span>
                </div>
                <input asp-for="Partner.Email" type="text" class="form-control border-left-0" placeholder="Email партнера" id="email" value="@Model?.Partner?.Email">
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Partner.ContactName"></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i data-feather="user"></i>
                    </span>
                </div>
                <input asp-for="Partner.ContactName" class="form-control border-left-0" placeholder="Контактное имя партнера" value="@Model?.Partner?.ContactName">
            </div>
        </div>
    </div>
    
</section>

<h3>Договор почтового обслуживания (опционально)</h3>
<section>
    <p>The next and previous buttons help you to navigate through your content.</p>
</section>

</div>
</form>

</div>

</div>