@model ForbExpress.Models.ViewModels.ContractsViewModels.ContractsFilterBindingModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Фильтры</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
    </div>
    <form asp-action="Filtrate" asp-route-filter="@Model" method="post">
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Inn"></label>
                <input asp-for="Inn" class="form-control form-control-sm" placeholder="ИНН арендатора" onkeypress="if(this.value.length&gt;12) return false;" value="@Model.Inn">
            </div>
            <div class="form-group">
                <label asp-for="PartnerId"></label>
                <input asp-for="PartnerId" class="form-control form-control-sm" placeholder="Id партнера" onkeypress="if(this.value.length&gt;12) return false;">
            </div>
            <div class="form-group">
                <label asp-for="ContractNumber"></label>
                <input asp-for="ContractNumber" class="form-control form-control-sm" placeholder="Номер договора">
            </div>
            <div class="form-group">
                <label asp-for="PostalServiceContractNumber"></label>
                <input asp-for="PostalServiceContractNumber" class="form-control form-control-sm" placeholder="Номер договора почтового обслуживания">
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input id="address" asp-for="Address" class="form-control form-control-sm" placeholder="Адрес">
            </div>
            <div class="form-group">
                <label asp-for="Ifts"></label>
                <select class="form-control" asp-for="Ifts" asp-items="@ViewBag.SelectItems">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ConclusionDate"></label>
                <input asp-for="ConclusionDate" class="result form-control" id="date" placeholder="Date Picker...">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        
    </form>
    
</div>